
:root {
  --white: #FFFFFF;
  --odd-white: #F7F7F7;
  --black: #000000;
  --light-black: #333333;
  --lighter-black: #444444;
  --red: #EF5A5A;
  --light-red: #f55751;
  --purple: #4A42C1;
  --yellow: #FEFE69;
  --yellow-haze: #ffEAA1;
  --light-yellow-haze: #fAECBC;
  --primary-blue: #0069D9;
  --gray-light: #FAFAFA;
  --purple-haze: #EFDCF9;
  --blue-haze: #E6E6FF; // #C5C5D9
  --charcoal: #323E42;
  --violet: #7954A1;
  --light-orange: #FFCE7E;
}