:root {
  --spacing--xxsmall: 0.125em; //____    2px
  --spacing-xsmall: 0.25em; //_______    4px
  --spacing-small: 0.5em; //_________    8px
  --spacing-md: 0.75rem; //__________    12px
  --spacing-medium: 1em; //__________    16px
  --spacing-large: 1.5em; //_________    24px
  --spacing-xlarge: 2em; //__________    32px
  --spacing-xxlarge: 3em; //_________    48px
}